*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
div.wrap{
    text-align: center;
    width: 100%;
    padding: 0;
}
header{
    background-color: lightskyblue;
    text-align: center;
}
table{
    margin: auto;
}
td{
    text-align: center;
    padding: 10px;
}
button{
    background-color: gray;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
a{
    color: white;
}
div.para{
    width: 50%;
    text-indent: 35px;
    padding: 0 1.5em;
}
.contact-about{
    color: black;
}
body{
    overflow: scroll;
}