*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div.nav{
    background-color: white;
	background-image:url(img/navbackground.jpg);
	background-size: cover;
}
body{
    overflow-y: scroll;
    overflow-x: hidden;
}
header{
    text-align: center;
    background-color: lightskyblue;
}
td{
    text-align: center;
    padding: 10px;
}
table{
    margin: auto;
}
button{
    background-color: gray;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
a{
    color: white;
}
a.form{
    color: greenyellow;
}
button.form{
    background-color: dodgerblue;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
div.body{
    width: 35%;
}
div.no-middle{
    text-align:left;
    width: 50%;
}