* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.nav {
    background-color: white;
    background-image: url(img/navbackground.jpg);
    background-size: cover;
    min-width: 722px;
}


/*body {
    overflow-y: scroll;
    overflow-x: hidden;
}*/

header {
    text-align: center;
    background-color: lightskyblue;
    min-width: 722px;
}

td {
    text-align: center;
    padding: 10px;
}

table {
    margin: auto;
}

button {
    background-color: gray;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a {
    color: white;
}

a.form {
    color: greenyellow;
}

button.form {
    background-color: dodgerblue;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

div.body {
    width: 75%;
    padding: 10px;
    text-align: center;
    margin: auto;
}

div.no-middle {
    text-align: left;
    width: 50%;
}

footer {
    background-color: white;
    text-align: center;
    margin: auto;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

div.section {
    min-width: 722px;
    position: sticky;
    top: 0;
    z-index: 999;
}

p.article {
    text-align: left;
    width: 25%;
}

a.article {
    color: #ff0030
}