div.memes{
     text-align: center;
     margin: auto;
     width: 30%;
}
header{
     background-color: lightskyblue;
     text-align: center;
 }
 table{
     margin: auto;
 }
 td{
     text-align: center;
     padding: 10px;
 }
 button{
     background-color: gray;
     border: none;
     color: white;
     padding: 10px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
 }
 a{
     color: white;
 }
 div.nav{
     background-color: white;
      background-image:url(img/navbackground.jpg);
      background-size: cover;
 }
 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 /*
 aside.left-side{
      width: 30%;
      padding-right: 15px;
      margin-right: 15px;
      float: left;
      text-align: center;
 }
 aside.right-side{
      width: 30%;
      padding-left: 15px;
      margin-left: 15px;
      float: right;
      text-align: center;
 }
 */