* {
    padding: 0;
    margin: 0;
}

#game {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    background-color: white;
}

#character {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}

.block {
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}

.hole {
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}

div.nav {
    background-color: white;
    background-image: url(../img/navbackground.jpg);
    background-size: cover;
}

button {
    background-color: gray;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a {
    color: white;
}

table {
    margin: auto;
}

header {
    text-align: center;
    background-color: lightskyblue;
}

html {
    background-color: lightskyblue;
    overflow-y: scroll;
}

td {
    padding: 10px;
    text-align: center;
}

footer {
    background-color: white;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}